* text=auto !eol
/Externals -text
Osi/configure -text
Osi/configure.ac -text
Osi/inc/config_osi.h.in -text
Osi/osi_addlibs.txt.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/missing -text
