* text=auto !eol
/Dependencies -text
/LICENSE -text
Osi/LICENSE -text
Osi/MSVisualStudio/v6/libOsi/libOsi.dsp -text
Osi/MSVisualStudio/v6/libOsiCbc/libOsiCbc.dsp -text
Osi/MSVisualStudio/v6/libOsiClp/libOsiClp.dsp -text
Osi/MSVisualStudio/v6/libOsiVol/libOsiVol.dsp -text
Osi/MSVisualStudio/v7/Osi.sln -text
Osi/MSVisualStudio/v7/Osi.suo -text
Osi/MSVisualStudio/v7/OsiExamplesBasic/OsiExamplesBasic.vcproj -text
Osi/MSVisualStudio/v7/OsiExamplesBasic2/OsiExamplesBasic2.vcproj -text
Osi/MSVisualStudio/v7/OsiExamplesBuild/OsiExamplesBuild.vcproj -text
Osi/MSVisualStudio/v7/OsiExamplesParameters/OsiExamplesParameters.vcproj -text
Osi/MSVisualStudio/v7/OsiExamplesQuery/OsiExamplesQuery.vcproj -text
Osi/MSVisualStudio/v7/OsiExamplesSpecific/OsiExamplesSpecific.vcproj -text
Osi/MSVisualStudio/v7/libOsi/libOsi.vcproj -text
Osi/MSVisualStudio/v7/libOsiCbc/libOsiCbc.vcproj -text
Osi/MSVisualStudio/v7/libOsiClp/libOsiClp.vcproj -text
Osi/MSVisualStudio/v7/libOsiVol/libOsiVol.vcproj -text
Osi/MSVisualStudio/v8/Osi.sln -text
Osi/MSVisualStudio/v8/Osi.suo -text
Osi/MSVisualStudio/v8/OsiExamplesBasic/OsiExamplesBasic.vcproj -text
Osi/MSVisualStudio/v8/OsiExamplesBasic2/OsiExamplesBasic2.vcproj -text
Osi/MSVisualStudio/v8/OsiExamplesBuild/OsiExamplesBuild.vcproj -text
Osi/MSVisualStudio/v8/OsiExamplesParameters/OsiExamplesParameters.vcproj -text
Osi/MSVisualStudio/v8/OsiExamplesQuery/OsiExamplesQuery.vcproj -text
Osi/MSVisualStudio/v8/OsiExamplesSpecific/OsiExamplesSpecific.vcproj -text
Osi/MSVisualStudio/v8/libOsi/libOsi.vcproj -text
Osi/MSVisualStudio/v8/libOsiCbc/libOsiCbc.vcproj -text
Osi/MSVisualStudio/v8/libOsiClp/libOsiClp.vcproj -text
Osi/MSVisualStudio/v8/libOsiSym/libOsiSym.vcproj -text
Osi/MSVisualStudio/v8/libOsiVol/libOsiVol.vcproj -text
Osi/MSVisualStudio/v9/Osi.sln -text
Osi/MSVisualStudio/v9/OsiExamplesBasic/OsiExamplesBasic.vcproj -text
Osi/MSVisualStudio/v9/OsiExamplesBasic2/OsiExamplesBasic2.vcproj -text
Osi/MSVisualStudio/v9/OsiExamplesBuild/OsiExamplesBuild.vcproj -text
Osi/MSVisualStudio/v9/OsiExamplesParameters/OsiExamplesParameters.vcproj -text
Osi/MSVisualStudio/v9/OsiExamplesQuery/OsiExamplesQuery.vcproj -text
Osi/MSVisualStudio/v9/OsiExamplesSpecific/OsiExamplesSpecific.vcproj -text
Osi/MSVisualStudio/v9/libOsi/libOsi.vcproj -text
Osi/MSVisualStudio/v9/libOsiCbc/libOsiCbc.vcproj -text
Osi/MSVisualStudio/v9/libOsiClp/libOsiClp.vcproj -text
Osi/MSVisualStudio/v9/libOsiSym/libOsiSym.vcproj -text
Osi/MSVisualStudio/v9/libOsiVol/libOsiVol.vcproj -text
Osi/README -text
Osi/config.guess -text
Osi/config.sub -text
Osi/configure -text
Osi/configure.ac -text
Osi/depcomp -text
Osi/doxydoc/doxygen.conf.in -text
Osi/examples/Makefile.in -text
Osi/examples/README -text
Osi/examples/basic.cpp -text
Osi/examples/basic2.cpp -text
Osi/examples/build.cpp -text
Osi/examples/parameters.cpp -text
Osi/examples/query.cpp -text
Osi/inc/config_osi.h.in -text
Osi/install-sh -text
Osi/ltmain.sh -text
Osi/missing -text
Osi/osi-uninstalled.pc.in -text
Osi/osi-unittests-uninstalled.pc.in -text
Osi/osi-unittests.pc.in -text
Osi/osi.pc.in -text
Osi/src/Osi/Makefile.am -text
Osi/src/Osi/Makefile.in -text
Osi/src/OsiCommonTest/Makefile.am -text
Osi/src/OsiCommonTest/Makefile.in -text
Osi/src/OsiCommonTest/OsiUnitTests.hpp -text
Osi/src/OsiCpx/osi-cplex-uninstalled.pc.in -text
Osi/src/OsiCpx/osi-cplex.pc.in -text
Osi/src/OsiGlpk/osi-glpk-uninstalled.pc.in -text
Osi/src/OsiGlpk/osi-glpk.pc.in -text
Osi/src/OsiGrb/Makefile.am -text
Osi/src/OsiGrb/Makefile.in -text
Osi/src/OsiGrb/OsiGrbSolverInterface.cpp -text
Osi/src/OsiGrb/OsiGrbSolverInterface.hpp -text
Osi/src/OsiGrb/osi-gurobi-uninstalled.pc.in -text
Osi/src/OsiGrb/osi-gurobi.pc.in -text
Osi/src/OsiMsk/osi-mosek-uninstalled.pc.in -text
Osi/src/OsiMsk/osi-mosek.pc.in -text
Osi/src/OsiSpx/Makefile.am -text
Osi/src/OsiSpx/Makefile.in -text
Osi/src/OsiSpx/OsiSpxSolverInterface.cpp -text
Osi/src/OsiSpx/OsiSpxSolverInterface.hpp -text
Osi/src/OsiSpx/osi-soplex-uninstalled.pc.in -text
Osi/src/OsiSpx/osi-soplex.pc.in -text
Osi/src/OsiXpr/osi-xpress-uninstalled.pc.in -text
Osi/src/OsiXpr/osi-xpress.pc.in -text
Osi/test/OsiGrbSolverInterfaceTest.cpp -text
Osi/test/OsiSpxSolverInterfaceTest.cpp -text
Osi/test/OsiTestSolver.cpp -text
Osi/test/OsiTestSolver.hpp -text
/README -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
