* text=auto !eol
trunk/LICENSE -text
trunk/Osi/LICENSE -text
trunk/Osi/MSVisualStudio/v6/libOsi/libOsi.dsp -text
trunk/Osi/MSVisualStudio/v6/libOsiCbc/libOsiCbc.dsp -text
trunk/Osi/MSVisualStudio/v6/libOsiClp/libOsiClp.dsp -text
trunk/Osi/MSVisualStudio/v6/libOsiVol/libOsiVol.dsp -text
trunk/Osi/MSVisualStudio/v7/Osi.sln -text
trunk/Osi/MSVisualStudio/v7/Osi.suo -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesBasic/OsiExamplesBasic.vcproj -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesBasic2/OsiExamplesBasic2.vcproj -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesBuild/OsiExamplesBuild.vcproj -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesParameters/OsiExamplesParameters.vcproj -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesQuery/OsiExamplesQuery.vcproj -text
trunk/Osi/MSVisualStudio/v7/OsiExamplesSpecific/OsiExamplesSpecific.vcproj -text
trunk/Osi/MSVisualStudio/v7/libOsi/libOsi.vcproj -text
trunk/Osi/MSVisualStudio/v7/libOsiCbc/libOsiCbc.vcproj -text
trunk/Osi/MSVisualStudio/v7/libOsiClp/libOsiClp.vcproj -text
trunk/Osi/MSVisualStudio/v7/libOsiVol/libOsiVol.vcproj -text
trunk/Osi/MSVisualStudio/v8/Osi.sln -text
trunk/Osi/MSVisualStudio/v8/Osi.suo -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesBasic/OsiExamplesBasic.vcproj -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesBasic2/OsiExamplesBasic2.vcproj -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesBuild/OsiExamplesBuild.vcproj -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesParameters/OsiExamplesParameters.vcproj -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesQuery/OsiExamplesQuery.vcproj -text
trunk/Osi/MSVisualStudio/v8/OsiExamplesSpecific/OsiExamplesSpecific.vcproj -text
trunk/Osi/MSVisualStudio/v8/libOsi/libOsi.vcproj -text
trunk/Osi/MSVisualStudio/v8/libOsiCbc/libOsiCbc.vcproj -text
trunk/Osi/MSVisualStudio/v8/libOsiClp/libOsiClp.vcproj -text
trunk/Osi/MSVisualStudio/v8/libOsiVol/libOsiVol.vcproj -text
trunk/Osi/configure -text
trunk/Osi/configure.ac -text
trunk/Osi/examples/Makefile.in -text
trunk/Osi/examples/README -text
trunk/Osi/examples/basic.cpp -text
trunk/Osi/examples/basic2.cpp -text
trunk/Osi/examples/build.cpp -text
trunk/Osi/examples/parameters.cpp -text
trunk/Osi/examples/query.cpp -text
trunk/Osi/examples/specific.cpp -text
trunk/Osi/inc/config_osi.h.in -text
trunk/Osi/m4/ac_osi_canonical.m4 -text
trunk/Osi/m4/ac_osicbc_config.m4 -text
trunk/Osi/m4/ac_osidylp_options.m4 -text
trunk/Osi/m4/ac_osiglpk_options.m4 -text
trunk/Osi/osi_addlibs.txt.in -text
trunk/README -text
trunk/compile -text
trunk/config.guess -text
trunk/config.sub -text
trunk/configure -text
trunk/configure.ac -text
trunk/depcomp -text
trunk/doxydoc/doxygen.conf -text
trunk/install-sh -text
trunk/missing -text
